@use'../../../sass/mixins' as mix;

.navbar-container {

    width: 100%;
    height: 12rem;
    margin: 0 auto;
    max-width: 200rem;
    z-index: 100;
    position: relative;
    // background-color: black;


    .background-container {
        padding-top: 1rem;
        padding-bottom: 0rem;
        position: fixed;
        width: inherit;
        transition: all 0.3s;


        .position-container {
            @include mix.flex-standard($flex: row, $items: center, $justify: space-between);
            width: 90%;
            margin: 0 auto;
            margin-bottom: 1rem;

            .opciones-container {

                .burger {
                    position: relative;
                    z-index: 100;

                    // top: 3.6rem;
                    // right: 2rem;
                    svg {
                        margin-top: 4px;

                        &:hover {
                            rect {
                                transition: fill 0.1s linear;
                                fill: var(--hover-white-2);
                            }
                        }
                    }
                }



                .clickout {
                    position:fixed;
                    
                    height: 100vh;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 10;
                    visibility:hidden;
                }


                .options {
                    z-index: 100;
                    position: fixed;
                    background-color: var(--black);
                    border-radius: 1% 0% 0% 1%;
                    right: 0rem;
                    top: 0;
                    height: 100vh;
                    width: 50%;
                    max-width: 40rem;

                    .xbtn svg {
                        margin-top: 4rem;
                        margin-left: -50%;

                        &:hover {
                            polygon {
                                transition: fill 0.1s linear;
                                fill: var(--hover-white);
                            }
                        }
                    }

                    .option {
                        width: 100%;
                        margin-top: 2rem;
                        margin-right: -3rem;
                        @include mix.flex-standard($flex: column, $items: start, $justify: center);
                        gap: 2rem;

                        a {
                            transition: color 0.1s linear;
                            color: var(--white);
                            font-weight: 500;
                            font-size: 2.2rem;
                            font-family: var(--3font);

                            &:hover {
                                color: var(--hover-white);
                            }
                        }

                        @for $i from 2 through 6 {
                            a:nth-child(#{$i}) {
                                animation-delay: $i * (1.3s / 18);
                            }
                        }

                        a:nth-child(6) {
                            color: var(--yellow);

                            &:hover {
                                color: var(--brown);
                            }
                        }

                    }


                }
            }

            .social-container-2 {
                // background-color: azure;
                width: 100%;
                height: 1rem;
                margin-top: 6rem;
                margin-bottom: 0rem;

                .divition-line {
                    animation-delay: 1s;
                    margin: 0 auto;
                    width: 80%;
                    background-color: var(--yellow);
                    opacity: 0.3;
                    height: 0.1rem;
                }


                .social-medias {
                    width: 100%;
                    margin-top: 10%;
                    @include mix.flex-standard($flex: row, $items: center, $justify: space-evenly);

                    a {
                        animation-delay: 1s;
                    }

                    svg {
                        margin: 0;

                        path {
                            fill: var(--hover-white);
                            opacity: 0.7;

                        }

                        &:hover {
                            path {
                                fill: var(--hover-white);
                                opacity: 0.8;

                            }
                        }
                    }
                }

            }
        }
    }



    //------MEDIA QUERYS--------
    @include mix.media-query(md) {

        .background-container {
            .position-container {
                .logo {
                    width: 10rem;
                }

                .opciones-container {
                    .burger {
                        svg {
                            margin-top: 1rem;
                            width: 50px;
                        }
                    }

                    .options {

                        .xbtn svg {

                            width: 50px;
                        }

                        .option {
                            a {
                                margin-top: 1rem;
                                font-weight: 500;
                                font-size: 2.7rem;
                            }
                        }
                    }


                    .social-container {
                        margin-top: 10rem;

                        .social-medias {

                            svg {
                                width: 40px;
                            }
                        }


                    }


                }
            }
        }
    }
}

.d-none {
    display: none;
}



//ANIMATIONS--------------

.close-burger {
    -webkit-animation: close-burger 0.4s ease-in forwards;
    -moz-animation: close-burger 0.4s ease-in forwards;
    -ms-animation: close-burger 0.4s ease-in forwards;
    animation: close-burger 0.4s ease-in forwards;
}

@-webkit-keyframes close-burger {
    0% {
        z-index: 4;
        position: relative;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@-moz-keyframes close-burger {
    0% {
        z-index: 4;
        position: relative;
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@-ms-keyframes close-burger {
    0% {
        z-index: 4;
        position: relative;
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -ms-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@keyframes close-burger {
    0% {
        z-index: 4;
        position: relative;
        transform: translateX(0);
    }
    100% {
        transform: translateX(45rem);
    }
}


.open-burger {
    -webkit-animation: open-burger 0.3s ease-out forwards;
    -moz-animation: open-burger 0.3s ease-out forwards;
    -ms-animation: open-burger 0.3s ease-out forwards;
    animation: open-burger 0.3s ease-out forwards;
}

@-webkit-keyframes open-burger {
    0% {
        -webkit-transform: translateX(45rem);
        transform: translateX(45rem);
        position: relative;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        position: static;
    }
}

@-moz-keyframes open-burger {
    0% {
        -moz-transform: translateX(45rem);
        transform: translateX(45rem);
        position: relative;
    }
    100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
        position: static;
    }
}

@-ms-keyframes open-burger {
    0% {
        -ms-transform: translateX(45rem);
        transform: translateX(45rem);
        position: relative;
    }
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
        position: static;
    }
}

@keyframes open-burger {
    0% {
        transform: translateX(45rem);
        position: relative;
    }
    100% {
        transform: translateX(0);
        position: static;
    }
}


.open-options {
    @include mix.flex-standard($flex: column, $items: end, $justify: start);
    -webkit-animation: open-options 0.4s ease-out forwards;
    -moz-animation: open-options 0.4s ease-out forwards;
    -ms-animation: open-options 0.4s ease-out forwards;
    animation: open-options 0.4s ease-out forwards;
}

@-webkit-keyframes open-options {
    0% {
        -webkit-transform: translate(45rem);
        transform: translate(45rem);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-moz-keyframes open-options {
    0% {
        -moz-transform: translate(45rem);
        transform: translate(45rem);
    }
    100% {
        -moz-transform: translate(0);
        transform: translate(0);
    }
}

@-ms-keyframes open-options {
    0% {
        -ms-transform: translate(45rem);
        transform: translate(45rem);
    }
    100% {
        -ms-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes open-options {
    0% {
        transform: translate(45rem);
    }
    100% {
        transform: translate(0);
    }
}



.options-in {
    -webkit-animation: options-in 0.3s ease-out forwards;
    -moz-animation: options-in 0.3s ease-out forwards;
    -ms-animation: options-in 0.3s ease-out forwards;
    animation: options-in 0.3s ease-out forwards;
    -webkit-transform: translateX(45rem);
    -moz-transform: translateX(45rem);
    -ms-transform: translateX(45rem);
    transform: translateX(45rem);
    display: block;
}

@-webkit-keyframes options-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes options-in {
    100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-ms-keyframes options-in {
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes options-in {
    100% {
        transform: translateX(0);
    }
}



.close-options {
    -webkit-animation: close-options 0.5s ease-in forwards;
    -moz-animation: close-options 0.5s ease-in forwards;
    -ms-animation: close-options 0.5s ease-in forwards;
    animation: close-options 0.5s ease-in forwards;
}

@-webkit-keyframes close-options {
    100% {
        -webkit-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@-moz-keyframes close-options {
    100% {
        -moz-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@-ms-keyframes close-options {
    100% {
        -ms-transform: translateX(45rem);
        transform: translateX(45rem);
    }
}

@keyframes close-options {
    100% {
        transform: translateX(45rem);
    }
}
