@use'../../sass/mixins' as mix;
//@include mix.flex-standard($flex: column, $items: center, $justify: center);
// @include mix.media-query(md) 

.galerias-container {
    margin: 10rem auto;
    @include mix.flex-standard($flex: column, $items: center, $justify: center);

    .title-galerias {

        .heading {
            margin: 4rem auto;
            border-bottom: 2px solid var(--yellow);
        }
    }


    .swiper_container {

        @include mix.flex-standard($flex: column, $items: center, $justify: center);
        width: 90%;
        max-width: 49rem;

        .img {
            max-width: max-content;
            background-color: rgba(0, 255, 255, 0);
            margin: 0 auto;
            @include mix.flex-standard($flex: column, $items: center, $justify: center);

            img {
                border-radius: 1rem;
                float: none;
                width: 25rem;
                height: 30rem;
                object-fit: cover;
            }
        }

    }

    .slider-controler {
        // position: relative;
       
        width: 20rem;
        margin-top: 4rem;
        background-color: rgb(245, 245, 245);

        .slider-arrow {
            ion-icon {
                font-size: 2rem;
                color: var(--hover-white-2);
                opacity: 0.6;

            }

        }

        .swiper-button-prev {
            // left: 10%; 

            height: auto;
            transform: translateY(1.2rem) translateX(-5rem);
            position: relative;
            &::after {
                content: '';
            }

        }

        .swiper-button-next {
            // width: 2rem;
            // right: 10%;
            position: relative;
            height: auto;
            transform: translateY(1.5rem) translateX(22.3rem);

            &::after {
                content: '';
            }

        }

        .swiper-pagination {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 2.5rem;
            width: 20rem;
            left: 1%;

            .swiper-pagination-bullet {
                width: 0.8rem;
                height: 0.8rem;
                background-color: var(--black);
            }
        }


    }


    @include mix.media-query(md) {


        .title-galerias {

            .heading {
               
                font-weight: 300;
                font-size: 4rem;

            }
        }

        .swiper_container {
            width: 90%;
            max-width: 59rem;
            
            .img {

                img {
                    width: 30rem;
                    height: 35rem;
                }
            }

        }

        .slider-controler {
         
            .slider-arrow {
                width: auto;

                ion-icon {
                    font-size: 4rem;
                }
            }

            .swiper-button-prev {
                transform: translateY(4.2rem)translateX(-15rem);
            }

            .swiper-button-next {
                transform: translateY(2.4rem) translateX(14.9rem);
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }


        }
    }


    @include mix.media-query(l) {


        .title-galerias {

            .heading {
                font-weight: 300;
                font-size: 4rem;
            }
        }

        .swiper_container {
            width: 90%;
            max-width: 120rem;

            .img {

                img {
                    width: 40rem;
                    height: 45rem;
                }
            }
        }

        .slider-controler {
            
            .swiper-button-prev {
                transform: translateY(4.2rem)translateX(-16rem);
            }

            .swiper-button-next {
                transform: translateY(2.39rem) translateX(17.2rem);
            }

            .swiper-pagination {
                width: 20rem;
                left: 4%;
                .swiper-pagination-bullet {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
    }


}