@use'../../../sass/mixins' as mix;

.container-title {
    
    @include mix.flex-standard($flex: column, $items: center, $justify: center);
    height: 70vh;
    color: var(--white);

    .title {
        text-align: center;
        position: relative;
        height: 10rem;
        width: 100%;
        // background-color: rgba(133, 139, 139, 0.488);
        @include mix.flex-standard($flex: column, $items: center, $justify: space-between);

        .title-1 {
            position: absolute;
            font-size: 4rem;
            top: 0;
            font-weight: 600;
            font-family: var(--2font);
        }

        .title-2 {
            font-family: var(--2font);
            position: absolute;
            font-size: 8rem;
            margin-top: 2rem;
            margin-left: 0.4rem;
            font-weight: 600;
            @include mix.flex-standard($flex: row, $items: top, $justify: top);//all rights
            span{ //all rights
                font-size: 2rem;
                margin-top: 2rem;
                
            }
        }

    }

    .subtitle {
        color: var(--white);
        font-size: 2.5rem;
        margin-top: 1rem;
        font-weight: 500;
        transition: color 0.2s;
        border-bottom: 1px solid var(--brown);
        font-family: var(--2font);

        &:hover{
            opacity: 0.7;
        }
        
    }


    @include mix.media-query(md) {
        height: 80vh;
    
        .title{
            // background-color: rgba(0, 255, 255, 0.262);
            height: 20rem;
            .title-1{
                font-size: 5rem;
            }

            .title-2{
                font-size: 12rem;
                margin-top: 2.5rem;
                margin-left: 0.8rem; // all rigth
                span{ //all rights
                    font-size: 3rem;
                    margin-top: 3rem;
                    
                }
            }
        }


        .subtitle {
            margin-top: 0;
            font-size: 3rem;
    
        }
    }

    @include mix.media-query(l) {
        height: 75vh;
        .title{
            // background-color: rgba(0, 255, 255, 0.262);
            height: 24rem;
            .title-1{
                font-size: 7rem;
            }

            .title-2{
                font-size: 15rem;
                margin-top: 4rem;
                margin-left: 1.2rem; // all rigth
                span{ //all rights
                    font-size: 3.4rem;
                    margin-top: 3.4rem;
                    
                }
            }
        }


        .subtitle {
            margin-top: 0rem;
            font-size: 3.5rem;
        }
    }
}