@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');

:root {
    --principalFont: 'Antonio', sans-serif;
    --2font: 'Kanit', sans-serif;
    --3font: 'Libre Franklin', sans-serif;
    --black: #000003;
    --yellow: #d1d11e;
    --hover-yellow: #ac9d32;
    --white: #dedede;
    --hover-white: #949494; 
    --hover-white-2: #898989;
    --background-black: #000000d0;
    --brown:  #877425;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--principalFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*GLOBALS*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    font-family: var(--principalFont);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: azure;
}