@use'../../sass/mixins' as mix;
//@include mix.flex-standard($flex: column, $items: center, $justify: center);
// @include mix.media-query(md) 


// galeria funcional 1



.galeria-container {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @include mix.flex-standard($flex: row, $items: center, $justify: center);

    .row {
        @include mix.flex-standard($flex: row, $items: center, $justify: center);
        width: 90%;
        height: 120rem;
        max-width: 130rem;
        flex-wrap: wrap;


        .column {
            width: 50%;
            height: 60rem;
            max-height: fit-content;
            padding: .1rem;


            a {

                .img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 10rem;
                    margin-top: .1rem;
                    margin-bottom: .1rem;
                    // overflow: hidden;
                    transition: filter .4s;



                    &:hover {
                        filter: blur(.7px) brightness(60%);
                        // &::before{
                        //     filter: blur(.7px) brightness(60%);
                        //     content: 'lupa2';

                        // }

                        // &::after{
                        //     content: 'lupa2';
                        //     color:var(--white);
                        // }
                    }
                }
            }

            //primera columna
            &:nth-child(1) {


                a:nth-child(1) {
                    .img {
                        background-image: url('src/assets/galeria/galeria.jpg');
                        height: 28.3%;
                    }
                }

                a:nth-child(2) {
                    .img {
                        background-image: url('src/assets/galeria/galeria2.jpg');
                        height: 40.3%;
                    }
                }

                a:nth-child(3) {
                    .img {
                        background-image: url('src/assets/galeria/galeria3.jpg');
                        height: 31.3%;
                    }
                }

            }

            //segunda columna
            &:nth-child(2) {


                a:nth-child(1) {
                    .img {
                        background-image: url('src/assets/galeria/galeria4.jpg');
                        height: 36.3%;
                    }
                }

                a:nth-child(2) {
                    .img {
                        background-image: url('src/assets/galeria/galeria5.jpg');
                        height: 29.3%;
                    }
                }

                a:nth-child(3) {
                    .img {
                        background-image: url('src/assets/galeria/galeria2.jpg');
                        height: 34.3%;
                    }
                }


            }

            //tercera columna
            &:nth-child(3) {


                a:nth-child(1) {
                    .img {
                        background-image: url('src/assets/galeria/galeria.jpg');
                        height: 30.3%;
                    }
                }

                a:nth-child(2) {
                    .img {
                        background-image: url('src/assets/galeria/galeria2.jpg');
                        height: 40.3%;
                    }
                }

                a:nth-child(3) {
                    .img {
                        background-image: url('src/assets/galeria/galeria3.jpg');
                        height: 29.3%;
                    }
                }


            }


            &:nth-child(4) {


                a:nth-child(1) {
                    .img {
                        background-image: url('src/assets/galeria/galeria3.jpg');
                        height: 22.3%;
                    }
                }

                a:nth-child(2) {
                    .img {
                        background-image: url('src/assets/galeria/galeria5.jpg');
                        height: 32.3%;
                    }
                }

                a:nth-child(3) {
                    .img {
                        background-image: url('src/assets/galeria/galeria4.jpg');
                        height: 45.3%;
                    }
                }

            }


        }

        @include mix.media-query(md) {
            width: 98%;
            height: 68rem;

            .column {
                width: 25%;


                a {
                    .img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 10rem;

                    }
                }
            }
        }

        @include mix.media-query(l) {
            max-width: 140rem;

            .column {
                width: 25%;


                a {
                    .img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                }
            }
        }
    }
}