@use'../../sass/mixins' as mix;

.mapa-container {

    height: 90vh;
    min-height: 80rem;
    background: rgb(0, 0, 3);
    // background: linear-gradient(180deg, rgba(0, 0, 3, 1) 91%, rgba(222, 222, 222, 1) 100%);


    @include mix.flex-standard($flex: column, $items: center, $justify: center);


    .text {
        @include mix.flex-standard($flex: column, $items: center, $justify: center);

        .title-mapa {
            color: var(--yellow);


            h3 {

                // font-family: var(--3font);
                font-size: 3.3rem;
                font-weight: 800;
            }

        }

        svg {

            margin-bottom: 1rem;
            width: 4.5rem;

            path {
                fill: rgba(165, 164, 164, 0.605);
                // fill:var(--white);

            }

        }

        a {
            font-family: var(--3font);
            font-size: 1.6rem;
            margin-bottom: 6rem;
            color: var(--yellow);
            font-weight: 600;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .mapa {
        width: 80%;
        margin-top: .5rem;
        border-radius: 2rem;

        iframe {
            margin: 0 auto;
            border: 0;
            width: 100%;
        }

        margin-bottom: 10rem;
    }



    @include mix.media-query(md) {
        height: 100vh;

        .text {


            .title-mapa {
                h3 {
                    font-size: 4rem;
                }
            }

            svg {
                margin-top: 2rem;
                width: 5rem;

            }

            a {
                font-size: 1.95rem;

            }
        }

        .mapa {

            margin-top: .5rem;
            border-radius: 2rem;

            iframe {
                width: 100%;
                height: 40rem;
            }
        }
    }

    @include mix.media-query(l) {
        max-width: 250rem;
        margin: 0 auto;
        @include mix.flex-standard($flex: row, $items: center, $justify: center);
        gap: 10rem;
        height: 100vh;

        .text {
            margin-bottom: 6rem;
            width: 30%;

            .title-mapa {
                h3 {
                    font-size: 4.5rem;

                }
            }

            svg {

                width: 5.5rem;

            }

            a {
                font-size: 2.4rem;

            }
        }

        .mapa {
            width: 40%;

            iframe {

                height: 60rem;
            }
        }
    }
}