@use'../../sass/mixins' as mix;

// @include mix.media-query(md)
// @include mix.flex-standard($flex: column-reverse, $items: center, $justify: center);


.horario-container{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    .container-background{
        margin: 0 auto;
        position: relative;
        width: 100%;
        max-width: 142rem;
        height: 100%;
        @include mix.flex-standard($flex: row, $items: center, $justify: center);

        .background-1{
            width: 85%;
            height: 85%;
            // background-color: rgb(68, 68, 57);
            background-color: var(--yellow);
            position: absolute;
            margin-bottom: 3rem;
            margin-right: 3rem;
            // opacity: 0.9;
        }

        .background-2{
            z-index: 10;
            background-color: var(--black);
            width: 85%;
            height: 85%;
            margin-left: 3rem;
            margin-top: 3rem;
            opacity: 0.95;
            color: var(--white);

            @include mix.flex-standard($flex: column, $items: center, $justify: center);

            h3{
                color: var(--yellow);
                font-weight: 600;
                margin-bottom: 6rem;
            }

            .horario{

                @include mix.flex-standard($flex: row, $items: center, $justify: center);
                gap: 3rem;
                .row-horario{
                    @include mix.flex-standard($flex: column, $items: center, $justify: center);
                    gap: 1rem;
                    
                    p{
                        font-size: 1.8rem;
                    }

                    .line-horario{
                       
                       border: 1px solid var(--yellow) ;
                       width: 1px;
                       height: 39rem;
                       margin-top: 3rem;
                    }
                }

            }
            
        }
    }
}

