@use'./sass/mixins' as mix;

.humano-container {
    min-width: 327px;
    opacity: 0;
    animation: opacityChange 1.2s linear 0.5s forwards;
    overflow: hidden;

    .background-img {

        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -100;
        background-image: url('./assets/inicio/fondoInicio.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.6);

        @include mix.media-query(l) {
            height: 100vh;
        }
        

    }

}

//------------- effects ---------------


@-webkit-keyframes fromLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-moz-keyframes fromLeft {
    0% {
        -moz-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-ms-keyframes fromLeft {
    0% {
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes fromLeft {
    0% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* Define la animación */
.fromLeft {
    -webkit-animation: fromLeft 1s ease-out forwards;
    -moz-animation: fromLeft 1s ease-out forwards;
    -ms-animation: fromLeft 1s ease-out forwards;
    animation: fromLeft 1s ease-out forwards;
}

//////////////////////////////////////////////////




@-webkit-keyframes fromRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-moz-keyframes fromRight {
    0% {
        -moz-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-ms-keyframes fromRight {
    0% {
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes fromRight {
    0% {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/* Define la animación */
.fromRight {
    -webkit-animation: fromRight 1s ease-out forwards;
    -moz-animation: fromRight 1s ease-out forwards;
    -ms-animation: fromRight 1s ease-out forwards;
    animation: fromRight 1s ease-out forwards;
}


///////////////////////////////////////////



@-webkit-keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Define la animación */
.opacityChange {
    -webkit-animation: opacityChange 1s ease-out forwards;
    -moz-animation: opacityChange 1s ease-out forwards;
    -ms-animation: opacityChange 1s ease-out forwards;
    animation: opacityChange 1s ease-out forwards;
}

//////////////////
.initial-state {
    //navbar effect
    animation: initialState .1s linear;
}

@keyframes initialState {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);

    }
}


.on-fixed {
    //navbar effect
    animation: onFixed .5s linear;
}

@keyframes onFixed {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0);
    }
}