.opacityAnimation
{
    animation: opacityAnimation 3s ease-in-out;
}

@keyframes opacityAnimation
{
    from
    {
        filter: brightness(0);
    }

    to
    {
        filter: brightness(1);
    }
}

/* ---------------------------------- */

.leftToRight
{
    animation: leftToRight 1.5s ease-in-out;
}

@keyframes leftToRight
{
    from
    {
        transform: translateX(-160%);
    }

    to
    {
        transform: translateX(0%);
    }
}

/* ---------------------------------- */

.rightToLeft
{
    animation: rightToLeft 1.5s ease-in-out;
}

@keyframes rightToLeft
{
    from
    {
        transform: translateX(160%);
    }

    to
    {
        transform: translateX(0%);
    }
}

/* ---------------------------------- */


.invisibleToVisile
{
    animation: invisibleToVisile 1s ease-out;
}

@keyframes invisibleToVisile
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}


.visibleToInvisible
{
    animation: visibleToInvisible .3s ease-out forwards;
}

@keyframes visibleToInvisible
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}


/* ---------------------------------- */

.closeSideBar
{
    animation: closeSideBar .5s ease-in forwards;
}

@keyframes closeSideBar
{
    from
    {
        transform: translateX(0%);
    }

    to
    {
        transform: translateX(100%);
    }
}

/* ---------------------------------- */

.openSideBar
{
    animation: openSideBar .5s ease-out forwards;
}

@keyframes openSideBar
{
    from
    {
        transform: translateX(100%);
    }

    to
    {
        transform: translateX(0%);
    }
}

/* ---------------------------------- */


:root
{
    --real-vh: calc(100vh - env(safe-area-inset-bottom));
}

.contenedor
{
    height: var(--real-vh);
}

.app {
    overflow: hidden;
    background-color: black;
    filter: brightness(1);
    transition: filter 1s ease-in-out; /* Controla la duración y suavidad */
    position: static;
  }
  
  .app.dark-mode {
    filter: brightness(0);
  }